* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #131F32;
}

body {
    background-color: #E9D5CD;
}

header {
    background-color: #2D656D;
    height: 100px;
}

img {
    height: 100px;
    width: 120px;
}

main {
    display: flex;
}

footer {
    text-align: center;
    font-size: smaller;
}


#sidebar {
    position: relative;
    top: 20px;
    left: 20px;
    width: 400px;
}

#search-results {
    position: relative;
    top: 20px;
    right: 20px;
}




.input-is-normal {
    width: 250px;
    height: 40px;
}

.button-is-info-is-rounded {
    background-color: #819FA6;
    border-radius: 25px;
    padding: 0px;
}

.box {
    width: 1000px;
    padding: 20px;
    margin: 20px;
}