

header {
    background:#2D656D;
    text-align: center;
    padding: 45px;
    height: 100px;

}

body{
    background:#e6d8d0; 
    position: relative;
}

main {
    display: flex;
    z-index: auto;
    background-color: #e2bca6;
    height: 100%;
    margin: 20px;

}
footer{
    text-align: center;
    background-color: #2D656D;
    position: absolute;
    padding: 15px;
    width: 100%;
    height: 50px;
    bottom: 0;

    
}
.container {
    display: flex;
    border: 2px solid #2D656D ;
    width: 100%;
    height: 100px;
    padding: 20px;
    margin: 10px;
    
}

#search-results {
    width: 100%;
    
}

#wrapper #sidebar {
    background-color: #C49D87;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20%;
    transition: all 0.5 ease;
}

#name, #address, #phone, #website {
    width: 25%;
    background-color: #E9D5CD;
    margin: 10px;
    height: 50%;
    

}
